@charset "UTF-8";

html {
    font-size: 100%;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}



a {
    text-decoration: none;
}

a:hover {
    opacity: 0.7;
}

main {
    padding-top: 200px;
}

/* ------------------------
mainvisual
--------------------------- */

.lesson-mainvisual {
    width: 100%;
    max-width: 900px;
    background-color: #EFDBE7;
    margin: 0 auto;
    padding: 20px 0;
    position: relative;
    text-align: center;
}

.lesson-mainvisual::after {
    content: "";
    position: absolute;
    clip-path: polygon(0% 0%, 100% 50%, 0% 100%);
    background-color: #F2762C;
    width: 15px;
    height: 15px;
    left: 20px;
    transform: rotate(135deg);
    bottom: 20px;
}

.lesson-mainvisual::before {
    content: "";
    position: absolute;
    clip-path: polygon(0% 0%, 100% 50%, 0% 100%);
    background-color: #2BA7DB;
    width: 15px;
    height: 15px;
    right: 20px;
    transform: rotate(135deg);
    bottom: 20px;
}

.main-visual-content {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    gap: 0 60px;
    background-color: #CB8BAD;
    border-radius: 40px;
}
.lesson-mainvisual .main-visual-content .main-visual-image2,
.lesson-mainvisual .main-visual-content .main-visual-image3,
.lesson-mainvisual .main-visual-content .main-visual-image4 {
    width: 30%;
    min-width: 30px;
    height: auto;
    position: absolute;
}

/* ------------------------
main-visual-items1
--------------------------- */

.main-visual-items1 {
    position: relative;
}

.main-visual-items1::after {
    content: "";
    position: absolute;
    clip-path: polygon(0% 0%, 100% 50%, 0% 100%);
    background-color: #F2762C;
    width: 15px;
    height: 15px;
    left: 20px;
    transform: rotate(45deg);
}

.main-visual-items1::before {
    content: "";
    position: absolute;
    clip-path: polygon(0% 0%, 100% 50%, 0% 100%);
    background-color: #2BA7DB;
    width: 15px;
    height: 15px;
    right: 20px;
    transform: rotate(45deg);
}

.lesson-mainvisual .main-visual-content .main-visual-image1 {
    width: 100%;
    max-width: 250px;
    height: auto;
}

.lesson-mainvisual .main-visual-content .main-visual-image2 {
   left: -30px;
   transform: rotate(-90deg);
   filter: invert(39%) sepia(92%) saturate(2200%) hue-rotate(320deg) brightness(95%) contrast(100%);
}


/* ------------------------
main-visual-items2
--------------------------- */

.main-visual-items2 {
    position: relative;
    display: flex;
    height: auto;
}

.main-visual-items2::after {
    content: "";
    position: absolute;
    clip-path: polygon(0% 0%, 100% 50%, 0% 100%);
    background-color: #F8B52C;
    width: 15px;
    height: 15px;
    left: 20px;
    transform: rotate(45deg);
    bottom: 0;
}

.main-visual-items2::before {
    content: "";
    position: absolute;
    clip-path: polygon(0% 0%, 100% 50%, 0% 100%);
    background-color: #EA196E;
    width: 15px;
    height: 15px;
    right: 20px;
    transform: rotate(-90deg);
}

.lesson-mainvisual .main-visual-content .main-visual-image3 {
    right: -30%;
    transform: rotate(-90deg);
    filter: invert(48%) sepia(85%) saturate(1400%) hue-rotate(175deg) brightness(98%) contrast(95%);
}

.lesson-mainvisual .main-visual-content .main-visual-image4 {
    left: -30%;
    filter: invert(78%) sepia(88%) saturate(1600%) hue-rotate(345deg) brightness(100%) contrast(95%);
}


.lesson-mainvisual .main-visual-content .mainvisual-text {
   font-size: clamp(17px, 3.5vw, 35px);
   font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}

.lesson-mainvisual .main-visual-text1 {
    padding: 20px 1.2em 10px;
    font-size: clamp(15px, 2.5vw, 25px);
    font-weight: 600;
    position: relative;
    display: inline-block;
}

.lesson-mainvisual .main-visual-text1::before,
.lesson-mainvisual .main-visual-text1::after {
    content: "";
    position: absolute;
    top: 50%;
    width: 0.12em;           
    height: 1.8em;          
    background-color: #000;
}

.lesson-mainvisual .main-visual-text1::before {
    left: 0;           
    transform: translateY(-50%) rotate(-45deg);
}

.lesson-mainvisual .main-visual-text1::after {
    right: 0;
    transform: translateY(-50%) rotate(45deg);
}

/*------------------------------------
    price
---------------------------------------*/

.price .price-title {
    padding-top: 90px;
}

.price .price-title .en {
    display: block;
    font-size: clamp(30px, 4vw, 60px);
    font-weight: 600;
}

.price .price-title .ja {
    display: block;
    font-size: clamp(25px, 2.5vw, 30px);
    font-weight: 600;
}

.price .price-title .price-text {
    margin-top: 20px;
    font-size: clamp(10px, 2.5vw, 20px);
}

.native-plan,
.regular-plan {
    margin-top: 80px;
    background-color: #F7F9EF;
    padding: 50px 30px ;
    
}

/*------------------------------------
    price-plan共通
---------------------------------------*/

.plan-content  {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.plan-item {
    width: 100%;
    max-width: 550px;
    height: 100%;
    background-color: #E1B6D0;
    padding: 20px 0;
    box-sizing: border-box;
    border-radius: 20px;
    height: 100%;
    max-height: 600px;
}

.plan-item p {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    font-weight: 600;
}


.plan-item-image1,
.plan-item-image2 {
    display: flex;
    align-items: center;
    font-weight: 600;
    padding-left: 20px;
    box-sizing: border-box;
}

.plan-item-image1 p,
.plan-item-image2 p {
    flex: 1;
    text-align: left;
    font-size: clamp(10px, 2vw, 15px);
}

.plan-item-image1 .human-icon,
.plan-item-image2 .human-icon {
   width: 24px;
   flex-shrink: 0;
   filter: invert(38%) sepia(72%) saturate(900%) hue-rotate(200deg) brightness(90%) contrast(95%);
}

.plan-item-image1 img,
.plan-item-image2 img {
   width: 100%;
}

.plan-title,
.plan-item-title {
    text-align: center;
    font-size: clamp(18px,4vw, 25px);
}

.plan-text {
    display: flex;
    justify-content: center;
    margin: 20px 0;
    font-weight: 600;
    font-size: clamp(10px, 3vw, 20px);
}

.plan-price {
    position: relative;
    margin-top: 30px;
}

.plan-price::after {
    content: "";
    position: absolute;
    background-color: #000;
    height: 2px;
    width: 100%;
    top:0;
    right: 0;
    left:0;
}

.plan-price::before {
    content: "";
    position: absolute;
    background-color: #000;
    height: 2px;
    width: 100%;
    bottom:0;
    right: 0;
    left:0;
}

.regular-price {
    display: block;
    text-align: center;
    font-size: clamp(10px, 2vw, 15px);
    padding: 20px 0;
    font-weight: 600;
    position: relative;
}

.regular-price::after {
    content: "";
    position: absolute;
    width: 50%;
    min-width: 100px;
    margin: 0 auto;
    height: 1px;
    top: 30px;
    left: 0;
    right: 0;
    background-color: #000;
}

.half-discount {
    display: block;
    text-align: center;
    width: 80%;
    min-width: 200px;
    margin: 10px auto;
    background-color:#B15081;
    font-size: clamp(10px,2vw,15px);
    border-radius: 20px;
    font-weight: 600;
}

.discounted-price {
    display: block;
    text-align: center;
    font-weight: 600;
    font-size: clamp(25px, 4vw, 45px);
}

.tax {
    font-size: clamp(10px, 4vw, 15px);
}

.price .register-box {
    display: flex;
    justify-content: center;
}

.plan-item-text {
    font-size: clamp(10px, 2vw, 15px);
}

/*------------------------------------
   payment-options
---------------------------------------*/

.payment-options {
    margin-top: 50px;
}

.payment-options-title {
    font-size: clamp(30px, 4vw, 50px );
    padding-top: 80px;
    text-align: center;
    position: relative;
}

.payment-options-title::after {
    content: "";
    position: absolute;
    border-bottom: 2px solid #000;
    width: 30%;
    min-width: 180px;
    margin: 0 auto;
    right: 0;
    left: 0;
    bottom: -4px;
}

.payment-options .options-image {
    display: flex;
    justify-content: space-between;
}

.payment-options .options-image .image1,
.payment-options .options-image .image2 {
    width: 50%;
    min-width: 300px;
    max-height: 60vw;
    height: 100%;
}








/*------------------------------------
    スマートフォン
---------------------------------------*/

@media screen and (max-width: 600px) {

    main {
    padding-top: 70px;
}

    .lesson-mainvisual .main-visual-content .main-visual-image1 {
    max-width: 100px;
}

.lesson-mainvisual .main-visual-text1 {
    width: 100%;
    max-width: 320px;
}

.price .price-title .price-text {
    margin-top: 20px;
}

.price .price-title {
    padding-top: 80px;
} 


}

@media screen and (max-width: 876px) {

.plan-content  {
    flex-direction: column;
}

.plan-item {
    max-width: none;
}

.en,
.ja,
.price-text {
    padding: 0 20px;
    box-sizing: border-box;
}

.payment-options .options-image {
    flex-direction: column;
}

.payment-options .options-image .image1,
.payment-options .options-image .image2 {
    width: 100%;
    display: flex;
    justify-content: center;
}


}


